<!DOCTYPE html>
<html>
	<head>
		<title>Ascardi wall - Part Designer, Part Developer</title>
	</head>
	<body>
		<h1 id="page_title">Stuff I've Written</h1>
		<div id="posts_wrapper" class="skinny_wrapper">
			<div class="post">
				<p class="date">Friday April 10th</p>
				<h2><a href="#" >The Do Lists</a></h2>
				<hr>
			</div>
			<div class="post">
				<p class="date">Friday April 10th</p>
				<h2><a href="#" >The Do Lists</a></h2>
				<hr>
			</div>
			<div class="post">
				<p class="date">Friday April 10th</p>
				<h2><a href="#" >The Do Lists</a></h2>
				<hr>
			</div>
		</div>

		
	</body>
</html>