<!DOCTYPE html>
<html>
	<head>
		<title>Ascardi wall - Part Designer, Part Developer</title>
	</head>
	<body>
		<h1 id="page_title">Say Hi!</h1>
		<div class="skinny_wrapper wrapper_padding">
			<label>Name</label><br>
			<input type="text"><br><br>

			<label>Email</label><br>
			<input type="text"><br><br>

			<label>Message</label><br>
			<textarea></textarea><br><br>
			<input type="submit" value="Send Message" class="Button">
		</div>

		
	</body>
</html>