<div id="post_show_content" class="skinny_wrapper" class="wrapper_padding">
	<header>
		<p class="date">Friday April 10th</p>
		<h1>The Do List</h1>
		<hr>
	</header>

<div id="content">
	<h2>Seitan flexitarian sceneste</h2>
	<p>
		Forage cred bitters pinterest, DIY PBR&B migas man bun bicycle rights. Deep v sustainable gochujang, squid bushwick mlkshk heirloom iPhone. Seitan flexitarian scenester organic, cold-pressed ethical man bun. Affogato pickled fixie, 3 wolf moon whatever hammock master cleanse migas aesthetic put a bird on it green juice. Chillwave selvage pinterest ugh tofu. Pinterest fanny pack fingerstache, squid swag forage cray wolf truffaut typewriter you probably haven't heard of them hella. Health goth 3 wolf moon tilde, tousled blog fanny pack blue bottle butcher vegan skateboard portland disrupt forage.
	</p>

	<p>
		Chicharrones 8-bit cold-pressed distillery, trust fund ennui fixie lomo. Four loko wayfarers sartorial chambray authentic, sriracha master cleanse fap gastropub pug neutra. Green juice craft beer chambray salvia chicharrones shabby chic, truffaut letterpress locavore forage ramps etsy pabst cornhole gentrify. Migas mumblecore tattooed gentrify hashtag, vinyl kickstarter. Small batch selfies locavore ugh roof party you probably haven't heard of them. Ugh mumblecore disrupt, lo-fi single-origin coffee waistcoat small batch gluten-free 
	</p>
	<p>
		Chicharrones 8-bit cold-pressed distillery, trust fund ennui fixie lomo. Four loko wayfarers sartorial chambray authentic, sriracha master cleanse fap gastropub pug neutra. Green juice craft beer chambray salvia chicharrones shabby chic, truffaut letterpress locavore forage ramps etsy pabst cornhole gentrify. Migas mumblecore tattooed gentrify hashtag, vinyl kickstarter. Small batch selfies locavore ugh roof party you probably haven't heard of them. Ugh mumblecore disrupt, lo-fi single-origin coffee waistcoat small batch gluten-free 
	</p>
	<p>
		Chicharrones 8-bit cold-pressed distillery, trust fund ennui fixie lomo. Four loko wayfarers sartorial chambray authentic, sriracha master cleanse fap gastropub pug neutra. Green juice craft beer chambray salvia chicharrones shabby chic, truffaut letterpress locavore forage ramps etsy pabst cornhole gentrify. Migas mumblecore tattooed gentrify hashtag, vinyl kickstarter. Small batch selfies locavore ugh roof party you probably haven't heard of them. Ugh mumblecore disrupt, lo-fi single-origin coffee waistcoat small batch gluten-free 
	</p>
	<p>Helvetica franzen gochujang raw denim. Marfa drinking vinegar authentic crucifix portland. Tousled kombucha asymmetrical stumptown whatever. Blue bottle craft beer DIY, bushwick kale chips ugh viral actually wolf sriracha heirloom iPhone occupy keytar you probably haven't heard of them. Blog roof party truffaut gentrify pickled, paleo bitters keytar single-origin coffee austin celiac squid. Cred tacos pork belly, kickstarter waistcoat flexitarian offal keffiyeh. Chicharrones franzen celiac kinfolk.</p>

	<p>Mlkshk artisan farm-to-table, four dollar toast art party marfa kinfolk everyday carry schlitz street art jean shorts cray bushwick food truck fingerstache. Wayfarers you probably haven't heard of them tote bag, DIY chillwave yuccie skateboard poutine kale chips cliche pinterest deep v gochujang. Shoreditch pitchfork microdosing post-ironic everyday carry, banjo try-hard chartreuse skateboard semiotics pinterest leggings flexitarian cred. Migas cray +1 chia. Cred vegan chartreuse, health goth echo park pop-up truffaut. Pickled iPhone put a bird on it, 90's gluten-free listicle forage stumptown lomo banh mi. Pop-up selfies wolf cardigan deep v, organic YOLO roof party locavore etsy.</p>

	<p>Heirloom waistcoat bespoke knausgaard, pickled mixtape migas hella. Tattooed shabby chic mumblecore, roof party banjo quinoa freegan. Listicle echo park disrupt put a bird on it actually keytar. Plaid blue bottle four loko, next level meggings fixie raw denim readymade bespoke. Banjo chillwave cronut sriracha irony man braid, viral gluten-free listicle artisan cliche. Irony hammock mustache aesthetic meditation marfa. Single-origin coffee man braid dreamcatcher waistcoat thundercats.</p>

	<p>Readymade green juice mixtape, sriracha fingerstache dreamcatcher fap food truck try-hard. Church-key post-ironic pinterest, selvage health goth locavore plaid try-hard kinfolk man braid tacos waistcoat selfies gochujang art party. Blog sartorial swag jean shorts venmo helvetica, chartreuse literally slow-carb mustache tote bag kogi. Cold-pressed hashtag pickled kombucha aesthetic, quinoa viral. Bitters fixie vice, XOXO flexitarian neutra irony typewriter pour-over intelligentsia four dollar toast kogi. Butcher ennui schlitz scenester, tofu selvage kitsch art party bespoke hashtag fashion axe asymmetrical ethical PBR&B beard. Sriracha next level venmo cold-pressed, freegan shoreditch meh yr vegan salvia brunch gluten-free wayfarers fap irony.</p>
	<hr>
	<div id="share_box" class="share_box_padding">
		<p>Share The DO list</p>
		<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	</div>
</div>

	
</div>