$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

#posts_wrapper{
	padding: 2em 0;
	text-align: center;
	.post{
		.date{
			font-size: .9em;
		}
		h2{
			margin: 2em auto;
		}
		hr{
			margin:3em auto;
		}
		
	}
}